<h1>Welcome to my Awesome Web App</h1>

<h1><%= @places.inspect %></h1>



<% @places.each do |place| %>
  <div>
    <h1><%= place.name %></h1><br />
    <i><%= place.address %></i><br />
    <p><%= place.description %></p><br />
  </div>

  <hr />
<% end %>

<p>The first place in the list is: <%= @firstplaces.name %></p>